# Node
node_modules/
dist/
.build/
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
.DS_Store

# npm
package-lock.json
pnpm-lock.yaml
yarn.lock

# OS
Thumbs.db
